[submodule "colcon_ws/src/sllidar_ros2"]
	path = colcon_ws/src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "colcon_ws/src/imu_calib"]
	path = colcon_ws/src/imu_calib
	url = https://github.com/jragni/imu_calib.git
[submodule "colcon_ws/src/OrbbecSDK_ROS2"]
	path = colcon_ws/src/OrbbecSDK_ROS2
	url = https://github.com/orbbec/OrbbecSDK_ROS2.git
[submodule "colcon_ws/src/robot_localization"]
	path = colcon_ws/src/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
	branch = ros2
